{% extends 'home.html' %}


{% block video_thumbnail %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <card class="card-body">
                    <img src="{{ video_thumbnail }}" class="img-fluid">
                </card>
            </div>
            <div class="col-md-3">
                <form action="{% url '' %}" method="GET">
                    <button class="btn btn-secondary">Download Video</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="{% url '' %}" method="GET">
                    <button class="btn btn-secondary">Download Audio</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}